In [1]:
import os
from dateutil.parser import parse as dateutil_parse
import pandas as pd

PATH = 'season_1/'
CLEAN_PATH = PATH+'clean/'

%matplotlib inline

In [69]:
cluster_map = pd.read_csv(CLEAN_PATH+'cluster_map.csv',index_col=0)
poi = pd.read_csv(CLEAN_PATH+'poi.csv',index_col=0)
train_order = pd.read_pickle(CLEAN_PATH+'train_order.pickle')
test_order = pd.read_pickle(CLEAN_PATH+'test_order.pickle')
train_traffic = pd.read_pickle(CLEAN_PATH+'train_traffic.pickle')
test_traffic = pd.read_pickle(CLEAN_PATH+'test_traffic.pickle')
train_weather = pd.read_pickle(CLEAN_PATH+'train_weather.pickle')
test_weather = pd.read_pickle(CLEAN_PATH+'test_weather.pickle')

In [3]:
train_order_index = pd.Series(range(len(train_order)),index=train_order['Time'])
test_order_index = pd.Series(range(len(test_order)),index=test_order['Time'])

# powerful datetime index

In [4]:
train_order.ix[train_order_index.ix['20160101 13:00:10':'2016-01-01 130012']]

       request               start_district_hash  Price                Time
7731      True  929ec6c160e6f52c20a4217c7978f681   15.5 2016-01-01 13:00:11
19352     True  d4ec2125aff74eded207d2d915ef682f   18.0 2016-01-01 13:00:12
46153     True  ca064c2682ca48c6a21de012e87c0df5    7.8 2016-01-01 13:00:12
60280     True  91690261186ae5bee8f83808ea1e4a01    9.0 2016-01-01 13:00:12
67821    False  929ec6c160e6f52c20a4217c7978f681   14.0 2016-01-01 13:00:12
74052    False  4725c39a5e5f4c188d382da3910b3f3f   11.0 2016-01-01 13:00:12
81666     True  929ec6c160e6f52c20a4217c7978f681   12.0 2016-01-01 13:00:12
81984     True  d4ec2125aff74eded207d2d915ef682f   13.0 2016-01-01 13:00:12
151606    True  74c1c25f4b283fa74a5514307b0d0278    9.0 2016-01-01 13:00:10
177238    True  82cc4851f9e4faa4e54309f8bb73fd7c    5.0 2016-01-01 13:00:11
183126   False  b702e920dcd2765e624dc1ce3a770512    6.0 2016-01-01 13:00:11
187033    True  62afaf3288e236b389af9cfdc5206415   28.1 2016-01-01 13:00:10
191031    True  307afa4120c590b3a46cf4ff5415608a   23.0 2016-01-01 13:00:10
235748    True  91690261186ae5bee8f83808ea1e4a01   15.0 2016-01-01 13:00:11
244745   False  929ec6c160e6f52c20a4217c7978f681   19.0 2016-01-01 13:00:11
255329   False  38d5ad2d22b61109fd8e7b43cd0e8901    3.0 2016-01-01 13:00:12
274765    True  4725c39a5e5f4c188d382da3910b3f3f    4.0 2016-01-01 13:00:11
277818   False  38d5ad2d22b61109fd8e7b43cd0e8901    6.0 2016-01-01 13:00:11
309806    True  929ec6c160e6f52c20a4217c7978f681   26.0 2016-01-01 13:00:12
314427    True  2407d482f0ffa22a947068f2551fe62c    7.0 2016-01-01 13:00:10
319908    True  62afaf3288e236b389af9cfdc5206415    7.0 2016-01-01 13:00:12
334017    True  4725c39a5e5f4c188d382da3910b3f3f   13.0 2016-01-01 13:00:12
344458    True  82cc4851f9e4faa4e54309f8bb73fd7c   46.0 2016-01-01 13:00:10
394349    True  2920ece99323b4c111d6f9affc7ea034   22.0 2016-01-01 13:00:12
394537    True  fc34648599753c9e74ab238e9a4a07ad    8.0 2016-01-01 13:00:11
398617    True  b05379ac3f9b7d99370d443cfd5dcc28    8.0 2016-01-01 13:00:12

# deal with time slot

In [38]:
tmp = pd.read_table(PATH+'test_set_1/read_me_1.txt')
test_target = pd.Series(map(lambda x: int(x.split('-')[-1]),tmp.values.T[0]),index = map(lambda x: dateutil_parse(x[:10]), tmp.values.T[0]))
test_target.name = 'timeslot'
test_target.index.name = 'datetime'

In [40]:
test_target.ix['20160122']

datetime
2016-01-22     46
2016-01-22     58
2016-01-22     70
2016-01-22     82
2016-01-22     94
2016-01-22    106
2016-01-22    118
2016-01-22    130
2016-01-22    142
Name: timeslot, dtype: int64

In [53]:
test_target.unique()

array([ 46,  58,  70,  82,  94, 106, 118, 130, 142], dtype=int64)

In [51]:
test_slot = test_order['Time'].map(lambda x: (x.hour*60+x.minute)/10+1)

In [62]:
date = '20160128'
print len(test_target.ix[date])
print len(test_weather.ix[date])

8
13

In [29]:
test_weather.ix['20160122']

                     weather  temperature  pm25
datatime
2016-01-22 07:02:10        2          2.0    51
2016-01-22 07:22:35        2          2.0    51
2016-01-22 09:12:48        4          1.0    53
2016-01-22 09:28:39        4          1.0    53
2016-01-22 15:12:31        6          1.0    64
2016-01-22 19:28:07        4          1.0    52
2016-01-22 23:07:35        6          1.0    98
2016-01-22 23:21:04        6          1.0    98

# check what the test set have

In [70]:
test_order['timeslot'] = test_order['Time'].map(lambda x: (x.hour*60+x.minute)/10+1)

In [71]:
test_weather['timeslot'] = test_weather.index.map(lambda x: (x.hour*60+x.minute)/10+1)

In [82]:
sorted(test_target.unique())

[46, 58, 70, 82, 94, 106, 118, 130, 142]

In [98]:
target_need = reduce(lambda x,y: x+y,test_target.ix['20160122'].map(lambda x: [x-3, x-2,x-1]))

In [92]:
test_weather['timeslot'].ix['20160122']

datatime
2016-01-22 07:02:10     43
2016-01-22 07:22:35     45
2016-01-22 09:12:48     56
2016-01-22 09:28:39     57
2016-01-22 15:12:31     92
2016-01-22 19:28:07    117
2016-01-22 23:07:35    139
2016-01-22 23:21:04    141
Name: timeslot, dtype: int32

In [106]:
test_target.ix['20160122'].map(lambda x: [x-3, x-2,x-1])

datetime
2016-01-22       [43, 44, 45]
2016-01-22       [55, 56, 57]
2016-01-22       [67, 68, 69]
2016-01-22       [79, 80, 81]
2016-01-22       [91, 92, 93]
2016-01-22    [103, 104, 105]
2016-01-22    [115, 116, 117]
2016-01-22    [127, 128, 129]
2016-01-22    [139, 140, 141]
Name: timeslot, dtype: object

In [100]:
set(reduce(lambda x,y: x+y,test_target.ix['20160122'].map(lambda x: [x-3, x-2,x-1]))) - set(test_order['timeslot'].ix[test_order_index.ix['20160122']])

set()

In [113]:
date = '20160130'
print 'order',set(reduce(lambda x,y: x+y,test_target.ix[date].map(lambda x: [x-3, x-2,x-1]))) - set(test_order['timeslot'].ix[test_order_index.ix[date]])
print 'order',set(test_order['timeslot'].ix[test_order_index.ix[date]]) - set(reduce(lambda x,y: x+y,test_target.ix[date].map(lambda x: [x-3, x-2,x-1])))
print 'weather',sorted(set(reduce(lambda x,y: x+y,test_target.ix[date].map(lambda x: [x-3, x-2,x-1]))) - set(test_weather['timeslot'].ix[date]))
print 'weather',set(test_weather['timeslot'].ix[date]) - set(reduce(lambda x,y: x+y,test_target.ix[date].map(lambda x: [x-3, x-2,x-1])))

 order set([])
order set([])
weather [104, 128]
weather set([])

In [95]:
test_order

,request,start_district_hash,Price,Time,timeslot
0,False,b05379ac3f9b7d99370d443cfd5dcc28,7.0,2016-01-22 17:19:43,104
1,True,b05379ac3f9b7d99370d443cfd5dcc28,12.0,2016-01-22 17:19:43,104
2,True,62afaf3288e236b389af9cfdc5206415,18.0,2016-01-22 11:00:05,67
3,False,d4ec2125aff74eded207d2d915ef682f,36.0,2016-01-22 17:00:42,103
4,False,d4ec2125aff74eded207d2d915ef682f,36.0,2016-01-22 17:00:42,103
5,True,82cc4851f9e4faa4e54309f8bb73fd7c,12.0,2016-01-22 21:00:29,127
6,True,82cc4851f9e4faa4e54309f8bb73fd7c,17.5,2016-01-22 17:29:25,105
7,True,b05379ac3f9b7d99370d443cfd5dcc28,11.8,2016-01-22 09:14:30,56
8,False,b05379ac3f9b7d99370d443cfd5dcc28,10.0,2016-01-22 09:14:30,56
9,True,b05379ac3f9b7d99370d443cfd5dcc28,14.0,2016-01-22 09:14:30,56
10,True,b05379ac3f9b7d99370d443cfd5dcc28,10.0,2016-01-22 09:14:30,56
11,True,d4ec2125aff74eded207d2d915ef682f,14.0,2016-01-22 23:19:31,140
12,True,a5609739c6b5c2719a3752327c5e33a7,18.0,2016-01-22 19:26:25,117
13,True,2920ece99323b4c111d6f9affc7ea034,13.0,2016-01-22 07:22:59,45
14,True,62afaf3288e236b389af9cfdc5206415,18.0,2016-01-22 21:17:15,128
15,False,d4ec2125aff74eded207d2d915ef682f,27.0,2016-01-22 23:01:06,139
16,False,52e56004d92b8c74d53e1e42699cba6f,40.1,2016-01-22 17:11:13,104
17,True,52e56004d92b8c74d53e1e42699cba6f,40.0,2016-01-22 17:11:13,104
18,True,fc34648599753c9e74ab238e9a4a07ad,3.0,2016-01-22 09:29:33,57
19,True,1ecbb52d73c522f184a6fc53128b1ea1,6.0,2016-01-22 19:25:30,117
20,True,1ecbb52d73c522f184a6fc53128b1ea1,11.0,2016-01-22 19:25:30,117
21,False,62afaf3288e236b389af9cfdc5206415,14.0,2016-01-22 17:00:55,103
22,True,82cc4851f9e4faa4e54309f8bb73fd7c,17.0,2016-01-22 15:25:48,93
23,True,4725c39a5e5f4c188d382da3910b3f3f,3.0,2016-01-22 15:20:54,93
24,True,4725c39a5e5f4c188d382da3910b3f3f,11.0,2016-01-22 09:19:40,56
25,True,4725c39a5e5f4c188d382da3910b3f3f,11.0,2016-01-22 09:19:40,56
26,True,4725c39a5e5f4c188d382da3910b3f3f,29.4,2016-01-22 09:22:58,57
27,True,4725c39a5e5f4c188d382da3910b3f3f,7.0,2016-01-22 13:28:37,81
28,True,2407d482f0ffa22a947068f2551fe62c,7.0,2016-01-22 09:13:33,56
29,False,62afaf3288e236b389af9cfdc5206415,11.8,2016-01-22 17:05:08,103
...,...,...,...,...,...
557955,True,4725c39a5e5f4c188d382da3910b3f3f,27.0,2016-01-30 15:14:41,92
557956,True,38d5ad2d22b61109fd8e7b43cd0e8901,7.0,2016-01-30 21:08:01,127
557957,True,d4ec2125aff74eded207d2d915ef682f,8.0,2016-01-30 19:17:32,116
557958,True,62afaf3288e236b389af9cfdc5206415,10.0,2016-01-30 19:27:38,117
557959,True,f47f35242ed40655814bc086d7514046,15.0,2016-01-30 07:16:08,44
557960,True,90c5a34f06ac86aee0fd70e2adce7d8a,7.6,2016-01-30 17:01:36,103
557961,True,90c5a34f06ac86aee0fd70e2adce7d8a,8.0,2016-01-30 17:01:36,103
557962,True,1afd7afbc81ecc1b13886a569d869e8a,74.9,2016-01-30 21:12:44,128
557963,True,b05379ac3f9b7d99370d443cfd5dcc28,19.0,2016-01-30 17:29:52,105
557964,True,929ec6c160e6f52c20a4217c7978f681,12.0,2016-01-30 13:16:57,80
557965,True,d05052b4bda7662a084f235e880f50fa,54.0,2016-01-30 09:28:18,57
557966,True,a5609739c6b5c2719a3752327c5e33a7,35.0,2016-01-30 19:24:11,117
557967,True,90c5a34f06ac86aee0fd70e2adce7d8a,5.0,2016-01-30 13:02:52,79
557968,True,91690261186ae5bee8f83808ea1e4a01,34.0,2016-01-30 11:09:05,67
557969,True,82cc4851f9e4faa4e54309f8bb73fd7c,9.0,2016-01-30 17:13:58,104
557970,True,52e56004d92b8c74d53e1e42699cba6f,34.0,2016-01-30 11:22:16,69
557971,True,b26a240205c852804ff8758628c0a86a,18.9,2016-01-30 15:10:20,92
557972,True,b26a240205c852804ff8758628c0a86a,23.0,2016-01-30 15:10:20,92
557973,True,b26a240205c852804ff8758628c0a86a,225.0,2016-01-30 13:18:40,80
557974,True,ca064c2682ca48c6a21de012e87c0df5,9.0,2016-01-30 21:19:34,128
557975,True,90c5a34f06ac86aee0fd70e2adce7d8a,11.4,2016-01-30 19:27:58,117
557976,True,1afd7afbc81ecc1b13886a569d869e8a,18.0,2016-01-30 11:28:36,69
557977,True,b05379ac3f9b7d99370d443cfd5dcc28,18.0,2016-01-30 17:20:19,105
557978,True,4725c39a5e5f4c188d382da3910b3f3f,9.0,2016-01-30 09:20:04,57
557979,True,38d5ad2d22b61109fd8e7b43cd0e8901,35.0,2016-01-30 09:19:23,56
557980,True,90c5a34f06ac86aee0fd70e2adce7d8a,7.0,2016-01-30 11:18:14,68
557981,True,d4ec2125aff74eded207d2d915ef682f,21.1,2016-01-30 17:25:23,105
557982,False,82cc4851f9e4faa4e54309f8bb73fd7c,21.0,2016-01-30 13:06:26,79
557983,True,82cc4851f9e4faa4e54309f8bb73fd7c,25.0,2016-01-30 13:06:26,79
557984,False,82cc4851f9e4faa4e54309f8bb73fd7c,22.0,2016-01-30 13:06:26,79

In [80]:
sorted(test_order['timeslot'].unique())

[43,
 44,
 45,
 55,
 56,
 57,
 67,
 68,
 69,
 79,
 80,
 81,
 91,
 92,
 93,
 103,
 104,
 105,
 115,
 116,
 117,
 127,
 128,
 129,
 139,
 140,
 141]

In [87]:
set(test_weather['timeslot'].unique())-set(test_order['timeslot'].unique())

set()

In [108]:
test_target.ix['20160124']

datetime
2016-01-24     58
2016-01-24     70
2016-01-24     82
2016-01-24     94
2016-01-24    106
2016-01-24    118
2016-01-24    130
2016-01-24    142
Name: timeslot, dtype: int64

In [137]:
test_target

datetime
2016-01-22     46
2016-01-22     58
2016-01-22     70
2016-01-22     82
2016-01-22     94
2016-01-22    106
2016-01-22    118
2016-01-22    130
2016-01-22    142
2016-01-24     58
2016-01-24     70
2016-01-24     82
2016-01-24     94
2016-01-24    106
2016-01-24    118
2016-01-24    130
2016-01-24    142
2016-01-26     46
2016-01-26     58
2016-01-26     70
2016-01-26     82
2016-01-26     94
2016-01-26    106
2016-01-26    118
2016-01-26    130
2016-01-26    142
2016-01-28     58
2016-01-28     70
2016-01-28     82
2016-01-28     94
2016-01-28    106
2016-01-28    118
2016-01-28    130
2016-01-28    142
2016-01-30     46
2016-01-30     58
2016-01-30     70
2016-01-30     82
2016-01-30     94
2016-01-30    106
2016-01-30    118
2016-01-30    130
2016-01-30    142
Name: timeslot, dtype: int64