# Basic solution to explore Kaggle
### --By Jiancheng
Work on [Kaggle Titanic](https://www.kaggle.com/c/titanic)

In [1]:
import pandas as pd
import numpy as np
import pylab as plt

In [2]:
raw_dtrain = pd.read_csv('data/train.csv')
raw_dtest = pd.read_csv('data/test.csv')

In [3]:
raw_dtrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [4]:
raw_dtrain.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [5]:
raw_dtest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

<pre>
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
</pre>

In [6]:
raw_dtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

In [7]:
raw_dtrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
raw_dtrain[['New']] = raw_dtrain[['Age']]

In [9]:
raw_dtrain.drop('New',axis = 1,inplace = True)

In [10]:
raw_dtrain.groupby('Embarked').describe()

                       Age        Fare       Parch  PassengerId      Pclass  \
Embarked
C        count  130.000000  168.000000  168.000000   168.000000  168.000000
         mean    30.814769   59.954144    0.363095   445.357143    1.886905
         std     15.434860   83.912994    0.660481   259.454201    0.944100
         min      0.420000    4.012500    0.000000     2.000000    1.000000
         25%     21.250000   13.697950    0.000000   235.500000    1.000000
         50%     29.000000   29.700000    0.000000   455.000000    1.000000
         75%     40.000000   78.500025    1.000000   651.000000    3.000000
         max     71.000000  512.329200    3.000000   890.000000    3.000000
Q        count   28.000000   77.000000   77.000000    77.000000   77.000000
         mean    28.089286   13.276030    0.168831   417.896104    2.909091
         std     16.915396   14.188047    0.656999   253.646282    0.369274
         min      2.000000    6.750000    0.000000     6.000000    1.000000
         25%     17.500000    7.750000    0.000000   209.000000    3.000000
         50%     27.000000    7.750000    0.000000   389.000000    3.000000
         75%     34.500000   15.500000    0.000000   630.000000    3.000000
         max     70.500000   90.000000    5.000000   891.000000    3.000000
S        count  554.000000  644.000000  644.000000   644.000000  644.000000
         mean    29.445397   27.079812    0.413043   449.527950    2.350932
         std     14.143192   35.887993    0.853253   256.942044    0.789402
         min      0.670000    0.000000    0.000000     1.000000    1.000000
         25%     21.000000    8.050000    0.000000   225.750000    2.000000
         50%     28.000000   13.000000    0.000000   447.500000    3.000000
         75%     38.000000   27.900000    0.000000   673.250000    3.000000
         max     80.000000  263.000000    6.000000   889.000000    3.000000

                     SibSp    Survived
Embarked
C        count  168.000000  168.000000
         mean     0.386905    0.553571
         std      0.557213    0.498608
         min      0.000000    0.000000
         25%      0.000000    0.000000
         50%      0.000000    1.000000
         75%      1.000000    1.000000
         max      2.000000    1.000000
Q        count   77.000000   77.000000
         mean     0.428571    0.389610
         std      0.979105    0.490860
         min      0.000000    0.000000
         25%      0.000000    0.000000
         50%      0.000000    0.000000
         75%      0.000000    1.000000
         max      4.000000    1.000000
S        count  644.000000  644.000000
         mean     0.571429    0.336957
         std      1.216600    0.473037
         min      0.000000    0.000000
         25%      0.000000    0.000000
         50%      0.000000    0.000000
         75%      1.000000    1.000000
         max      8.000000    1.000000

In [11]:
raw_dtrain['Title'] = raw_dtrain['Name'].map(lambda x: x.split(',')[1].split('.')[0])
raw_dtrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,Mr

In [12]:
at = raw_dtrain[['Age','Title']].groupby('Title').mean()['Age']
print {idx: at[idx] for idx in at.index}

{' Major': 48.5, ' the Countess': 33.0, ' Don': 40.0, ' Sir': 49.0, ' Miss': 21.773972602739725, ' Mlle': 24.0, ' Mrs': 35.898148148148145, ' Capt': 70.0, ' Rev': 43.166666666666664, ' Dr': 42.0, ' Master': 4.5741666666666667, ' Mr': 32.368090452261306, ' Ms': 28.0, ' Jonkheer': 38.0, ' Col': 58.0, ' Lady': 48.0, ' Mme': 24.0}

In [13]:
index = 0
output = dict()
for key in set(raw_dtrain['Title']):
    output[key] = index
    index += 1
print output
print index

{' Major': 0, ' the Countess': 1, ' Don': 2, ' Miss': 15, ' Sir': 3, ' Mlle': 4, ' Mrs': 5, ' Capt': 6, ' Rev': 7, ' Dr': 9, ' Master': 10, ' Mr': 11, ' Ms': 12, ' Jonkheer': 13, ' Col': 14, ' Lady': 8, ' Mme': 16}
17

In [14]:
raw_dtrain[raw_dtrain.Age<=10].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,Master
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S,Miss
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q,Master
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S,Miss
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,NaN,C,Miss

In [15]:
raw_dtrain.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64

In [16]:
raw_dtrain['Embarked'].value_counts().index[0]

'S'

In [17]:
def processing_data(df):
    convert = {'Title': {' Major': 0, ' the Countess': 1, ' Don': 2, ' Miss': 15, ' Sir': 3, ' Mlle': 4, 
                        ' Mrs': 5, ' Capt': 6, ' Rev': 7, ' Dr': 9, ' Master': 10, ' Mr': 11, ' Ms': 12, 
                        ' Jonkheer': 13, ' Col': 14, ' Lady': 8, ' Mme': 16, ' Dona': 17},
               'Sex': {'male': 0, 'female': 1},
               'Embarked': {'S': 0, 'Q': 1, 'C': 2}}
    age_average = {' Major': 48.5, ' the Countess': 33.0, ' Don': 40.0, ' Sir': 49.0, ' Miss': 21.773972602739725, 
                   ' Mlle': 24.0, ' Mrs': 35.898148148148145, ' Capt': 70.0, ' Rev': 43.166666666666664, ' Dr': 42.0, 
                   ' Master': 4.5741666666666667, ' Mr': 32.368090452261306, ' Ms': 28.0, ' Jonkheer': 38.0, 
                   ' Col': 58.0, ' Lady': 48.0, ' Mme': 24.0, ' Dona': 39}
    
    out_df = pd.DataFrame()
    out_df['Pclass'] = df['Pclass']
    out_df['Sex'] = df['Sex']
    out_df['Fare'] = df['Fare']
    out_df['Embarked'] = df['Embarked']
    out_df['Age'] = df['Age']
    out_df['Family'] = df['SibSp'] + df['Parch']
    out_df['Title'] = df['Name'].map(lambda x: x.split(',')[1].split('.')[0])
    
    # deal with NaN
    out_df['Fare'] = out_df['Fare'].groupby(out_df['Pclass']).apply(lambda g: g.fillna(g.mean())) # the average Pclass fare
    out_df['Embarked'] = out_df['Embarked'].fillna(value = out_df['Embarked'].value_counts().index[0])  # the most frequent item
    out_df['Age'] = out_df['Age'].groupby(out_df['Title']).apply(lambda g: g.fillna(age_average[g.name])) # average age of Title
    
    # transfer text feature into numeric data
    out_df['Sex'] = out_df['Sex'].map(lambda x: convert['Sex'][x])
    out_df['Title'] = out_df['Title'].map(lambda x: convert['Title'][x])
    out_df['Embarked'] = out_df['Embarked'].map(lambda x: convert['Embarked'][x])
    return out_df
dtrain = processing_data(raw_dtrain)
print dtrain.isnull().sum()
dtrain.head()

Pclass      0
Sex         0
Fare        0
Embarked    0
Age         0
Family      0
Title       0
dtype: int64

   Pclass  Sex     Fare  Embarked  Age  Family  Title
0       3    0   7.2500         0   22       1     11
1       1    1  71.2833         2   38       1      5
2       3    1   7.9250         0   26       0     15
3       1    1  53.1000         0   35       1      5
4       3    0   8.0500         0   35       0     11

In [18]:
raw_dtrain.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked',
       u'Title'],
      dtype='object')

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
model_rf = RandomForestClassifier(n_estimators=1000)

In [21]:
X = processing_data(raw_dtrain)
y = raw_dtrain['Survived']
model_rf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [34]:
model_rf.score(X,y)

0.98428731762065091

In [25]:
import pylab as plt
import seaborn as sns
% matplotlib inline

In [26]:
# importance = {column: model_rf1.feature_importances_[index] for index, column in enumerate(X.columns)}
# sorted_importance = sorted(importance.items(), key = lambda x: x[1], reverse = True)
# x =[t[0] for t in sorted_importance]
# y =[t[1] for t in sorted_importance]
# fig, ax = plt.subplots()
# width = 0.35
# ind = np.arange(len(x))
# ax.bar(ind,y,width)
# ax.set_title('Feature importance on Titanic')
# ax.set_xticks(ind + width)
# ax.set_xticklabels(x)

In [27]:
Xtest = processing_data(raw_dtest)

In [28]:
preict_test = model_rf.predict(Xtest)

In [29]:
submit_df = pd.DataFrame()
submit_df['PassengerId'] = raw_dtest['PassengerId']
submit_df['Survived'] = preict_test
submit_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         1

In [30]:
submit_df.to_csv('results-rf.csv', index=False)

In [31]:
Xtest.columns

Index([u'Pclass', u'Sex', u'Fare', u'Embarked', u'Age', u'Family', u'Title'], dtype='object')

<pre>
A brief solution working on Random Forest.
Features:
'Pclass'
'Sex'
'Title': extracted by Name
'Family': ['SibSp'] + ['Parch']
'Fare':  NaN filled with the average fare of 'Pclass'
'Embarked': NaN filled with 'S' (the most frequent item) 
 'Age': NaN filled with the average age of each 'Title'
Results: 
3101	new	
Jiancheng
0.75120
1
 </pre>

## For now, I have already well cleaned the data.
## Next step: extract other feature, add models, cross-validation, and aggragate the model.
# Goal: -> 80% ~> 85%
2016/02/21 19:58

# Come back!
## 2016/03/22
* transfer data with dummy feature
* model selection with cross validation
* model aggregation with voting

In [55]:
from sklearn import cross_validation
from sklearn import svm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [50]:
cross_validation.cross_val_score(model_rf, X, y, cv=5).mean()

0.80814550886290348

In [35]:
model_svc_linear = svm.SVC(kernel='linear')
model_svc_linear.fit(X, y)
model_svc_linear.score(X, y)

0.78675645342312006

In [36]:
model_svc_rbf = svm.SVC(kernel='rbf')
model_svc_rbf.fit(X, y)
model_svc_rbf.score(X, y)

0.92368125701459036

In [49]:
cross_validation.cross_val_score(model_svc_linear, X, y, cv=5).mean()

0.78559770649343375

In [48]:
cross_validation.cross_val_score(model_svc_rbf, X, y, cv=5).mean()

0.73404342242871545

In [40]:
model_adaboost = AdaBoostClassifier(n_estimators=100)
model_adaboost.fit(X, y)
model_adaboost.score(X, y)

0.84287317620650959

In [47]:
cross_validation.cross_val_score(model_adaboost, X, y, cv=5).mean()

0.82049899513686664

In [42]:
model_adaboost_500 = AdaBoostClassifier(n_estimators=500)
model_adaboost.fit(X, y)
model_adaboost.score(X, y)

0.84287317620650959

In [46]:
cross_validation.cross_val_score(model_adaboost_500, X, y, cv=5).mean()

0.82271437523472524

In [51]:
model_adaboost_1000 = AdaBoostClassifier(n_estimators=1000)
model_adaboost.fit(X, y)
model_adaboost.score(X, y)

0.84287317620650959

In [52]:
cross_validation.cross_val_score(model_adaboost_1000, X, y, cv=5).mean()

0.81600425847767932

In [54]:
model_adaboost_2000 = AdaBoostClassifier(n_estimators=2000)
model_adaboost.fit(X, y)
print model_adaboost.score(X, y)
print cross_validation.cross_val_score(model_adaboost_2000, X, y, cv=5).mean()

0.842873176207
0.807021700575

In [58]:
model_gbc = GradientBoostingClassifier(n_estimators=500)
model_gbc.fit(X, y)
print model_gbc.score(X, y)
print cross_validation.cross_val_score(model_gbc, X, y, cv=5).mean()

0.962962962963
0.83278949793

In [57]:
model_gbc_1000 = GradientBoostingClassifier(n_estimators=1000).fit(X, y)
print model_gbc_1000.score(X, y)
print cross_validation.cross_val_score(model_gbc_1000, X, y, cv=5).mean()

0.979797979798
0.810304466259

In [61]:
4 * .236

0.944

In [67]:
pd.get_dummies(raw_dtrain['Embarked'], prefix='Embarked').head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [69]:
pd.get_dummies(raw_dtrain['Pclass'], prefix='Pclass').head()

   Pclass_1  Pclass_2  Pclass_3
0         0         0         1
1         1         0         0
2         0         0         1
3         1         0         0
4         0         0         1

In [70]:
pd.get_dummies(dtrain['Title'], prefix='Title').head()

,Title_0,Title_1,Title_2,Title_3,Title_4,Title_5,Title_6,Title_7,Title_8,Title_9,Title_10,Title_11,Title_12,Title_13,Title_14,Title_15,Title_16
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

# new data processing module

In [169]:
import pandas as pd
import numpy as np

In [288]:
def process_data(in_df):
    df = in_df.copy()

    age_average = {' Major': 48.5, ' the Countess': 33.0, ' Don': 40.0, ' Sir': 49.0, ' Miss': 21.773972602739725, 
                   ' Mlle': 24.0, ' Mrs': 35.898148148148145, ' Capt': 70.0, ' Rev': 43.166666666666664, ' Dr': 42.0, 
                   ' Master': 4.5741666666666667, ' Mr': 32.368090452261306, ' Ms': 28.0, ' Jonkheer': 38.0, 
                   ' Col': 58.0, ' Lady': 48.0, ' Mme': 24.0, ' Dona': 39}
    title_convert = {' Major': 'Army', ' the Countess': 'Upper', ' Don': 'Mr', ' Miss': 'Miss', ' Sir': 'Upper', ' Mlle': 'Upper', 
                        ' Mrs': 'Mrs', ' Capt': 'Upper', ' Rev': 'Rev', ' Dr': 'Dr', ' Master': 'Master', ' Mr': 'Mr', ' Ms': 'Miss', 
                        ' Jonkheer': 'Upper', ' Col': 'Army', ' Lady': 'Upper', ' Mme': 'Upper', ' Dona': 'Upper'}
    
    # feature transformation
    df['Family'] = df['SibSp'] + df['Parch']
    df['orgTitle'] = df['Name'].map(lambda x: x.split(',')[1].split('.')[0]) # extract "Title" from "Name"
    df['Title'] = df['orgTitle'].map(lambda x: title_convert[x]) # then also merge some rare Title into commom ones 
    df['Cabin'] = df['Cabin'].map(lambda x: str(x)[0])
    df['Cabin'] = df['Cabin'].map(lambda x: x if x != 'T' else 'n')
    df['Sex'] = df['Sex'].map(lambda x: 0 if x == 'male' else 1) # male: 0 female: 1
    
    # deal with NaN and 0
    df['Fare'] = df['Fare'].groupby(df['Pclass']).apply(lambda g: g.fillna(g.mean())) # the average Pclass fare
    df['Fare'] = df['Fare'].groupby(df['Pclass']).apply(lambda g: g.replace(0, g.mean())) # the average Pclass fare
    df['Embarked'] = df['Embarked'].fillna(value = df['Embarked'].value_counts().index[0])  # the most frequent item
    df['Age'] = df['Age'].groupby(df['orgTitle']).apply(lambda g: g.fillna(age_average[g.name])) # average age of Title    
    
    # transfer category feature into dummy feature   
    df = pd.concat([df, pd.get_dummies(df['Embarked'], prefix='Embarked')], axis=1)
    df = pd.concat([df, pd.get_dummies(df['Pclass'], prefix='Pclass')], axis=1)
    df = pd.concat([df, pd.get_dummies(df['Cabin'], prefix='Cabin')], axis=1)
    df = pd.concat([df, pd.get_dummies(df['Title'], prefix='Title')], axis=1)
    
    # drop features we don't need 
    df = df.drop(['orgTitle'], axis = 1)
    df = df.drop(['Embarked', 'Name', 'SibSp', 'Parch', 'Ticket', 'PassengerId', 'Pclass', 'Cabin','Title'], axis = 1)  
    return df

In [289]:
raw_dtrain = pd.read_csv('data/train.csv')
raw_dtest = pd.read_csv('data/test.csv')
dtrain = process_data(raw_dtrain)
print dtrain.isnull().sum()
dtrain.head()

Survived        0
Sex             0
Age             0
Fare            0
Family          0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
Pclass_1        0
Pclass_2        0
Pclass_3        0
Cabin_A         0
Cabin_B         0
Cabin_C         0
Cabin_D         0
Cabin_E         0
Cabin_F         0
Cabin_G         0
Cabin_n         0
Title_Army      0
Title_Dr        0
Title_Master    0
Title_Miss      0
Title_Mr        0
Title_Mrs       0
Title_Rev       0
Title_Upper     0
dtype: int64

,Survived,Sex,Age,Fare,Family,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,...,Cabin_G,Cabin_n,Title_Army,Title_Dr,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rev,Title_Upper
0,0,0,22,7.2500,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
1,1,1,38,71.2833,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,1,1,26,7.9250,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
3,1,1,35,53.1000,1,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,35,8.0500,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0

In [290]:
dtrain.columns

Index([u'Survived', u'Sex', u'Age', u'Fare', u'Family', u'Embarked_C',
       u'Embarked_Q', u'Embarked_S', u'Pclass_1', u'Pclass_2', u'Pclass_3',
       u'Cabin_A', u'Cabin_B', u'Cabin_C', u'Cabin_D', u'Cabin_E', u'Cabin_F',
       u'Cabin_G', u'Cabin_n', u'Title_Army', u'Title_Dr', u'Title_Master',
       u'Title_Miss', u'Title_Mr', u'Title_Mrs', u'Title_Rev', u'Title_Upper'],
      dtype='object')

In [291]:
raw_dtrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [295]:
# dtrain.groupby('Title').mean()

In [294]:
# dtrain.groupby('Title').count().ix[:,1]

In [296]:
# dtrain[dtrain['Fare'] == 0]

In [297]:
# len(set(processing_data(raw_dtest)['Title']) | set(processing_data(raw_dtrain)['Title']))

In [298]:
# set(raw_dtrain['Cabin'].map(lambda x: str(x)[0]))

In [299]:
# process_data(raw_dtest)[process_data(raw_dtest)['Title'] == 'Upper']

In [300]:
# set(raw_dtest['Sex'])

In [301]:
# raw_dtrain['Embarked'].value_counts()

In [302]:
# raw_dtrain.groupby('Pclass').mean()

# test models

In [303]:
from sklearn import cross_validation
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

In [304]:
def test_model(model, data, cv =5):
    
    X = processed.drop(['Survived'], axis = 1)
    y = processed['Survived']
    model.fit(X, y)
    print 'Training accuracy:', model.score(X, y)
    print '%s-fold cross-validation accuracy:' % cv, cross_validation.cross_val_score(model, X, y, cv=cv).mean()
    return model

In [305]:
test_model(RandomForestClassifier(n_estimators=500, max_depth=20), raw_dtrain)

Training accuracy: 0.987654320988
5-fold cross-validation accuracy: 0.804749614067

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [306]:
test_model(RandomForestClassifier(n_estimators=300, max_depth=10), raw_dtrain)

Training accuracy: 0.936026936027
5-fold cross-validation accuracy: 0.819350149497

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [330]:
test_model(RandomForestClassifier(n_estimators=300, max_depth=5), raw_dtrain)

Training accuracy: 0.852974186308
5-fold cross-validation accuracy: 0.830529752779

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [308]:
test_model(RandomForestClassifier(n_estimators=300, max_depth=15), raw_dtrain)

Training accuracy: 0.975308641975
5-fold cross-validation accuracy: 0.813738519966

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

### 300

In [309]:
test_model(SVC(kernel='rbf'), raw_dtrain)

Training accuracy: 0.854096520763
5-fold cross-validation accuracy: 0.741915151747

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [310]:
test_model(SVC(kernel='linear'), raw_dtrain)

Training accuracy: 0.841750841751
5-fold cross-validation accuracy: 0.824943231528

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### SVM

In [311]:
test_model(AdaBoostClassifier(n_estimators=50), raw_dtrain)

Training accuracy: 0.843995510662
5-fold cross-validation accuracy: 0.809275452366

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [312]:
test_model(AdaBoostClassifier(n_estimators=100), raw_dtrain)

Training accuracy: 0.851851851852
5-fold cross-validation accuracy: 0.812652657807

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=None)

In [313]:
test_model(AdaBoostClassifier(n_estimators=500), raw_dtrain)

Training accuracy: 0.883277216611
5-fold cross-validation accuracy: 0.815979221126

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=500, random_state=None)

In [314]:
test_model(AdaBoostClassifier(n_estimators=1000), raw_dtrain)

Training accuracy: 0.886644219978
5-fold cross-validation accuracy: 0.81038628095

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=1000, random_state=None)

In [315]:
test_model(AdaBoostClassifier(n_estimators=5000), raw_dtrain)

Training accuracy: 0.918069584736
5-fold cross-validation accuracy: 0.7969029221

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=5000, random_state=None)

### AdaBoost

In [316]:
test_model(GradientBoostingClassifier(n_estimators=500), raw_dtrain)

Training accuracy: 0.961840628507
5-fold cross-validation accuracy: 0.829424917556

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=3, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [317]:
test_model(GradientBoostingClassifier(n_estimators=1000, max_depth=2), raw_dtrain)

Training accuracy: 0.941638608305
5-fold cross-validation accuracy: 0.830560996274

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=2, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=1000,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [318]:
test_model(GradientBoostingClassifier(n_estimators=1000, max_depth=3), raw_dtrain)

Training accuracy: 0.984287317621
5-fold cross-validation accuracy: 0.820423315662

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=3, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=1000,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [319]:
test_model(GradientBoostingClassifier(n_estimators=400, max_depth=3), raw_dtrain)

Training accuracy: 0.95847362514
5-fold cross-validation accuracy: 0.829431052771

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=3, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=400,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [320]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=10)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=500)),
                                      ('ada',AdaBoostClassifier(n_estimators=500))
                                     ], 
                          voting='soft', weights=[3,4,1])

In [321]:
test_model(voting, raw_dtrain)

Training accuracy: 0.959595959596
5-fold cross-validation accuracy: 0.832789427003

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oo...='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=500, random_state=None))],
         voting='soft', weights=[3, 4, 1])

In [322]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=10)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=500)),
                                      ('ada',AdaBoostClassifier(n_estimators=500))
                                     ], 
                          voting='soft', weights=[1,1,1])
voting = test_model(voting, raw_dtrain)

Training accuracy: 0.955106621773
5-fold cross-validation accuracy: 0.837277531955

In [323]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=10)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=500)),
                                      ('ada',AdaBoostClassifier(n_estimators=500))
                                     ], 
                          voting='soft', weights=[3,7,1])
voting = test_model(voting, raw_dtrain)

Training accuracy: 0.960718294052
5-fold cross-validation accuracy: 0.836166561517

In [324]:
voting1 = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=10)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=500)),
                                      ('ada',AdaBoostClassifier(n_estimators=500))
                                     ], 
                          voting='soft', weights=[3,4,1])
voting1 = test_model(voting, raw_dtrain)

Training accuracy: 0.959595959596
5-fold cross-validation accuracy: 0.83280832914

In [336]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                      ('svm',SVC(kernel='linear',probability=True))
                                     ], 
                          voting='soft', weights=[3,3,1,2])
test_model(voting, raw_dtrain)

Training accuracy: 0.895622895623
5-fold cross-validation accuracy: 0.844025523914

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         voting='soft', weights=[3, 3, 1, 2])

In [337]:
voting_submit2 = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                      ('svm',SVC(kernel='linear',probability=True))
                                     ], 
                          voting='soft', weights=[3,3,1,2])

In [338]:
processed = process_data(raw_dtrain)
X = processed.drop('Survived', axis = 1)
y = processed['Survived']

In [339]:
voting_submit2.fit(X,y)

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         voting='soft', weights=[3, 3, 1, 2])

In [348]:
voting_submit2.score(X,y)

0.89562289562289565

In [349]:
submit2 = pd.DataFrame()
submit2['PassengerId'] = raw_dtest['PassengerId']
submit2['Survived'] = voting_submit2.predict(Xtest)
submit2.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [350]:
submit2.to_csv('submit2.csv', index=False)

# second try: cv
2943	71	
Jiancheng
0.76555
2	Tue, 22 Mar 2016 19:59:28

In [343]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                     ], 
                          voting='soft', weights=[3,4,1])
test_model(voting, raw_dtrain,20)

Training accuracy: 0.92480359147
20-fold cross-validation accuracy: 0.834933025911

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=500, random_state=None))],
         voting='soft', weights=[3, 4, 1])

In [344]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=8)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=777, max_depth=3)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                     ], 
                          voting='soft', weights=[3,4,1])
test_model(voting, raw_dtrain,20)

Training accuracy: 0.962962962963
20-fold cross-validation accuracy: 0.829375274484

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=500, random_state=None))],
         voting='soft', weights=[3, 4, 1])

In [347]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=10)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=777, max_depth=3)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                     ], 
                          voting='soft', weights=[3,7,1])
test_model(voting, raw_dtrain,20)

Training accuracy: 0.968574635241
20-fold cross-validation accuracy: 0.827153052262

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oo...='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=500, random_state=None))],
         voting='soft', weights=[3, 7, 1])

In [346]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                     ], 
                          voting='soft', weights=[3,4,1])

,Sex,Age,Fare,Family,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,...,Cabin_G,Cabin_n,Title_Army,Title_Dr,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rev,Title_Upper
0,0,22,7.2500,1,0,0,1,0,0,1,...,0,1,0,0,0,0,1,0,0,0
1,1,38,71.2833,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,26,7.9250,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
3,1,35,53.1000,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,35,8.0500,0,0,0,1,0,0,1,...,0,1,0,0,0,0,1,0,0,0

# Made mistake on submit2........ which is just same as submit1.... 
# So, submit3's model should be same as submit2.

1755	1117	
Jiancheng
0.78469
3	Tue, 22 Mar 2016 20:15:23
Your Best Entry 
You improved on your best score by 0.01914. 
You just moved up 1,188 positions on the leaderboard.

# next  step: add more models, and grid search for best coef

In [351]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                      ('svm',SVC(kernel='linear',probability=True))
                                     ], 
                          voting='soft', weights=[3,3,1,2])
test_model(voting, raw_dtrain, 30)

Training accuracy: 0.896745230079
30-fold cross-validation accuracy: 0.844318378445

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         voting='soft', weights=[3, 3, 1, 2])

In [352]:
voting = VotingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=300, max_depth=5)), 
                                      ('gbt',GradientBoostingClassifier(n_estimators=1000, max_depth=2)),
                                      ('ada',AdaBoostClassifier(n_estimators=500)),
                                      ('svm',SVC(kernel='linear',probability=True))
                                     ], 
                          voting='soft', weights=[3,3,1,2])
test_model(voting, raw_dtrain, 10)

Training accuracy: 0.895622895623
10-fold cross-validation accuracy: 0.846238224946

VotingClassifier(estimators=[('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob...',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False))],
         voting='soft', weights=[3, 3, 1, 2])

Above is the submit3 so far.