In [1]:
import pandas as pd
import numpy as np
import pylab as plt

In [2]:
raw_dtrain = pd.read_csv('data/train.csv')
raw_dtest = pd.read_csv('data/test.csv')

In [3]:
from sklearn import cross_validation
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.svm import SVC

In [4]:
raw_dtrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [11]:
def process_data(in_df):
    df = in_df.copy().fillna(-1)

    age_average = {' Major': 48.5, ' the Countess': 33.0, ' Don': 40.0, ' Sir': 49.0, ' Miss': 21.773972602739725, 
                   ' Mlle': 24.0, ' Mrs': 35.898148148148145, ' Capt': 70.0, ' Rev': 43.166666666666664, ' Dr': 42.0, 
                   ' Master': 4.5741666666666667, ' Mr': 32.368090452261306, ' Ms': 28.0, ' Jonkheer': 38.0, 
                   ' Col': 58.0, ' Lady': 48.0, ' Mme': 24.0, ' Dona': 39}
    title_convert = {' Major': 'Army', ' the Countess': 'Upper', ' Don': 'Mr', ' Miss': 'Miss', ' Sir': 'Upper', ' Mlle': 'Upper', 
                        ' Mrs': 'Mrs', ' Capt': 'Upper', ' Rev': 'Rev', ' Dr': 'Dr', ' Master': 'Master', ' Mr': 'Mr', ' Ms': 'Miss', 
                        ' Jonkheer': 'Upper', ' Col': 'Army', ' Lady': 'Upper', ' Mme': 'Upper', ' Dona': 'Upper'}
    
    # feature transformation
#     df['Family'] = df['SibSp'] + df['Parch']
    df['orgTitle'] = df['Name'].map(lambda x: x.split(',')[1].split('.')[0]) # extract "Title" from "Name"
    df['Title'] = df['orgTitle'].map(lambda x: title_convert[x]) # then also merge some rare Title into commom ones 
    df['Cabin'] = df['Cabin'].map(lambda x: str(x)[0])
    # df['Cabin'] = df['Cabin'].map(lambda x: x if x != 'T' else 'n')
    df['Sex'] = df['Sex'].map(lambda x: 0 if x == 'male' else 1) # male: 0 female: 1
    
    # deal with NaN and 0
    #df['Fare'] = df['Fare'].groupby(df['Pclass']).apply(lambda g: g.fillna(g.mean())) # the average Pclass fare
    #df['Fare'] = df['Fare'].groupby(df['Pclass']).apply(lambda g: g.replace(0, g.mean())) # the average Pclass fare
    df['Embarked'] = df['Embarked'].fillna('n')  # the most frequent item
    df['Age'] = df['Age'].groupby(df['orgTitle']).apply(lambda g: g.fillna(age_average[g.name])) # average age of Title
    
    # normalization
#     if training:
#         mean_train = df[['Age','SibSp','Parch','Fare']].mean()
#         std_train = df[['Age','SibSp','Parch','Fare']].std()
        
#     df[['Age','SibSp','Parch','Fare']]= (df[['Age','SibSp','Parch','Fare']]- mean_train) / std_train
    
    
    # transfer category feature into dummy feature   
    df = pd.concat([df, pd.get_dummies(df['Embarked'], prefix='Embarked')], axis=1)
    df = pd.concat([df, pd.get_dummies(df['Pclass'], prefix='Pclass')], axis=1)
    df = pd.concat([df, pd.get_dummies(df['Cabin'], prefix='Cabin')], axis=1)
    # df = pd.concat([df, pd.get_dummies(df['Title'], prefix='Title')], axis=1)
    
    # drop features we don't need 
    df = df.drop(['orgTitle'], axis = 1)
#     df = df.drop(['Embarked', 'Name', 'SibSp', 'Parch', 'Ticket', 'PassengerId', 'Pclass', 'Cabin','Title'], axis = 1)  
    df = df.drop(['Embarked', 'Name', 'Ticket', 'PassengerId', 'Pclass', 'Cabin','Title'], axis = 1)
    
    return df

In [13]:
raw_dtrain = pd.read_csv('data/train.csv')
raw_dtest = pd.read_csv('data/test.csv')
dtrain = process_data(raw_dtrain)
print dtrain.isnull().sum()
dtrain.head()

Survived       0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked_-1    0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
Pclass_1       0
Pclass_2       0
Pclass_3       0
Cabin_-        0
Cabin_A        0
Cabin_B        0
Cabin_C        0
Cabin_D        0
Cabin_E        0
Cabin_F        0
Cabin_G        0
Cabin_T        0
dtype: int64

,Survived,Sex,Age,SibSp,Parch,Fare,Embarked_-1,Embarked_C,Embarked_Q,Embarked_S,...,Pclass_3,Cabin_-,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
0,0,0,22,1,0,7.2500,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
1,1,1,38,1,0,71.2833,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,26,0,0,7.9250,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
3,1,1,35,1,0,53.1000,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,0,0,35,0,0,8.0500,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0

In [7]:
dtest = process_data(raw_dtest)

In [8]:
dtest

,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_n
0,0,34.500000,0,0,7.8292,0,1,0,0,0,1,0,0,0,0,0,0,0,1
1,1,47.000000,1,0,7.0000,0,0,1,0,0,1,0,0,0,0,0,0,0,1
2,0,62.000000,0,0,9.6875,0,1,0,0,1,0,0,0,0,0,0,0,0,1
3,0,27.000000,0,0,8.6625,0,0,1,0,0,1,0,0,0,0,0,0,0,1
4,1,22.000000,1,1,12.2875,0,0,1,0,0,1,0,0,0,0,0,0,0,1
5,0,14.000000,0,0,9.2250,0,0,1,0,0,1,0,0,0,0,0,0,0,1
6,1,30.000000,0,0,7.6292,0,1,0,0,0,1,0,0,0,0,0,0,0,1
7,0,26.000000,1,1,29.0000,0,0,1,0,1,0,0,0,0,0,0,0,0,1
8,1,18.000000,0,0,7.2292,1,0,0,0,0,1,0,0,0,0,0,0,0,1
9,0,21.000000,2,0,24.1500,0,0,1,0,0,1,0,0,0,0,0,0,0,1
10,0,32.368090,0,0,7.8958,0,0,1,0,0,1,0,0,0,0,0,0,0,1
11,0,46.000000,0,0,26.0000,0,0,1,1,0,0,0,0,0,0,0,0,0,1
12,1,23.000000,1,0,82.2667,0,0,1,1,0,0,0,1,0,0,0,0,0,0
13,0,63.000000,1,0,26.0000,0,0,1,0,1,0,0,0,0,0,0,0,0,1
14,1,47.000000,1,0,61.1750,0,0,1,1,0,0,0,0,0,0,1,0,0,0
15,1,24.000000,1,0,27.7208,1,0,0,0,1,0,0,0,0,0,0,0,0,1
16,0,35.000000,0,0,12.3500,0,1,0,0,1,0,0,0,0,0,0,0,0,1
17,0,21.000000,0,0,7.2250,1,0,0,0,0,1,0,0,0,0,0,0,0,1
18,1,27.000000,1,0,7.9250,0,0,1,0,0,1,0,0,0,0,0,0,0,1
19,1,45.000000,0,0,7.2250,1,0,0,0,0,1,0,0,0,0,0,0,0,1
20,0,55.000000,1,0,59.4000,1,0,0,1,0,0,0,0,0,0,0,0,0,1
21,0,9.000000,0,1,3.1708,0,0,1,0,0,1,0,0,0,0,0,0,0,1
22,1,35.898148,0,0,31.6833,0,0,1,1,0,0,0,0,0,0,0,0,0,1
23,0,21.000000,0,1,61.3792,1,0,0,1,0,0,0,0,0,0,0,0,0,1
24,1,48.000000,1,3,262.3750,1,0,0,1,0,0,0,1,0,0,0,0,0,0
25,0,50.000000,1,0,14.5000,0,0,1,0,0,1,0,0,0,0,0,0,0,1
26,1,22.000000,0,1,61.9792,1,0,0,1,0,0,0,1,0,0,0,0,0,0
27,0,22.500000,0,0,7.2250,1,0,0,0,0,1,0,0,0,0,0,0,0,1
28,0,41.000000,0,0,30.5000,0,0,1,1,0,0,1,0,0,0,0,0,0,0
29,0,32.368090,2,0,21.6792,1,0,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0,21.000000,0,0,7.7500,0,1,0,0,0,1,0,0,0,0,0,0,0,1
389,0,6.000000,3,1,21.0750,0,0,1,0,0,1,0,0,0,0,0,0,0,1
390,0,23.000000,0,0,93.5000,0,0,1,1,0,0,0,1,0,0,0,0,0,0
391,1,51.000000,0,1,39.4000,0,0,1,1,0,0,0,0,0,1,0,0,0,0
392,0,13.000000,0,2,20.2500,0,0,1,0,0,1,0,0,0,0,0,0,0,1
393,0,47.000000,0,0,10.5000,0,0,1,0,1,0,0,0,0,0,0,0,0,1
394,0,29.000000,3,1,22.0250,0,0,1,0,0,1,0,0,0,0,0,0,0,1
395,1,18.000000,1,0,60.0000,0,0,1,1,0,0,0,0,1,0,0,0,0,0
396,0,24.000000,0,0,7.2500,0,1,0,0,0,1,0,0,0,0,0,0,0,1
397,1,48.000000,1,1,79.2000,1,0,0,1,0,0,0,1,0,0,0,0,0,0
398,0,22.000000,0,0,7.7750,0,0,1,0,0,1,0,0,0,0,0,0,0,1
399,0,31.000000,0,0,7.7333,0,1,0,0,0,1,0,0,0,0,0,0,0,1
400,1,30.000000,0,0,164.8667,0,0,1,1,0,0,0,0,1,0,0,0,0,0
401,0,38.000000,1,0,21.0000,0,0,1,0,1,0,0,0,0,0,0,0,0,1
402,1,22.000000,0,1,59.4000,1,0,0,1,0,0,0,0,0,0,0,0,0,1
403,0,17.000000,0,0,47.1000,0,0,1,1,0,0,0,0,0,0,0,0,0,1
404,0,43.000000,1,0,27.7208,1,0,0,1,0,0,0,0,0,1,0,0,0,0
405,0,20.000000,0,0,13.8625,1,0,0,0,1,0,0,0,0,1,0,0,0,0
406,0,23.000000,1,0,10.5000,0,0,1,0,1,0,0,0,0,0,0,0,0,1
407,0,50.000000,1,1,211.5000,1,0,0,1,0,0,0,0,1,0,0,0,0,0
408,1,21.773973,0,0,7.7208,0,1,0,0,0,1,0,0,0,0,0,0,0,1
409,1,3.000000,1,1,13.7750,0,0,1,0,0,1,0,0,0,0,0,0,0,1
410,1,21.773973,0,0,7.7500,0,1,0,0,0,1,0,0,0,0,0,0,0,1
411,1,37.000000,1,0,90.0000,0,1,0,1,0,0,0,0,1,0,0,0,0,0
412,1,28.000000,0,0,7.7750,0,0,1,0,0,1,0,0,0,0,0,0,0,1
413,0,32.368090,0,0,8.0500,0,0,1,0,0,1,0,0,0,0,0,0,0,1
414,1,39.000000,0,0,108.9000,1,0,0,1,0,0,0,0,1,0,0,0,0,0
415,0,38.500000,0,0,7.2500,0,0,1,0,0,1,0,0,0,0,0,0,0,1
416,0,32.368090,0,0,8.0500,0,0,1,0,0,1,0,0,0,0,0,0,0,1
417,0,4.574167,1,1,22.3583,1,0,0,0,0,1,0,0,0,0,0,0,0,1

In [14]:
def test_model(model, data, cv = 10):
    X = data.drop(['Survived'], axis = 1)
    y = data['Survived']
    model.fit(X, y)
    training = model.score(X, y)
    validation = cross_validation.cross_val_score(model, X, y, cv=cv).mean()
    print 'Training accuracy:\t\t\t', training
    print '%s-fold cross-validation accuracy:\t' % cv, validation
    print 'Delta(training - validation): \t\t', training - validation
    return model

In [15]:
for depth in np.arange(1,25,1): 
    print '=========Test on depth = %s=========' % depth
    test_model(RandomForestClassifier(n_estimators=100, max_depth=depth), dtrain)

=========Test on depth = 1=========
Training accuracy:			0.717171717172
10-fold cross-validation accuracy:	0.720655146975
Delta(training - validation): 		-0.00348342980365
=========Test on depth = 2=========
Training accuracy:			0.799102132435
10-fold cross-validation accuracy:	0.774627170582
Delta(training - validation): 		0.0244749618532
=========Test on depth = 3=========
Training accuracy:			0.806958473625
10-fold cross-validation accuracy:	0.77797298831
Delta(training - validation): 		0.0289854853151
=========Test on depth = 4=========
Training accuracy:			0.833894500561
10-fold cross-validation accuracy:	0.782492055385
Delta(training - validation): 		0.0514024451759
=========Test on depth = 5=========
Training accuracy:			0.846240179574
10-fold cross-validation accuracy:	0.807049426853
Delta(training - validation): 		0.0391907527207
=========Test on depth = 6=========
Training accuracy:			0.867564534231
10-fold cross-validation accuracy:	0.814952332312
Delta(training - validation): 		0.0526122019193
=========Test on depth = 7=========
Training accuracy:			0.876543209877
10-fold cross-validation accuracy:	0.812654919986
Delta(training - validation): 		0.0638882898902
=========Test on depth = 8=========
Training accuracy:			0.900112233446
10-fold cross-validation accuracy:	0.821605379639
Delta(training - validation): 		0.0785068538065
=========Test on depth = 9=========
Training accuracy:			0.923681257015
10-fold cross-validation accuracy:	0.817148734536
Delta(training - validation): 		0.106532522478
=========Test on depth = 10=========
Training accuracy:			0.939393939394
10-fold cross-validation accuracy:	0.823903643173
Delta(training - validation): 		0.115490296221
=========Test on depth = 11=========
Training accuracy:			0.955106621773
10-fold cross-validation accuracy:	0.820582794234
Delta(training - validation): 		0.134523827539
=========Test on depth = 12=========
Training accuracy:			0.959595959596
10-fold cross-validation accuracy:	0.813815968676
Delta(training - validation): 		0.14577999092
=========Test on depth = 13=========
Training accuracy:			0.968574635241
10-fold cross-validation accuracy:	0.810457950289
Delta(training - validation): 		0.158116684952
=========Test on depth = 14=========
Training accuracy:			0.971941638608
10-fold cross-validation accuracy:	0.812654919986
Delta(training - validation): 		0.159286718622
=========Test on depth = 15=========
Training accuracy:			0.976430976431
10-fold cross-validation accuracy:	0.80485217342
Delta(training - validation): 		0.171578803011
=========Test on depth = 16=========
Training accuracy:			0.979797979798
10-fold cross-validation accuracy:	0.795863409375
Delta(training - validation): 		0.183934570423
=========Test on depth = 17=========
Training accuracy:			0.985409652076
10-fold cross-validation accuracy:	0.799272500284
Delta(training - validation): 		0.186137151793
=========Test on depth = 18=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.799246680286
Delta(training - validation): 		0.187285306246
=========Test on depth = 19=========
Training accuracy:			0.985409652076
10-fold cross-validation accuracy:	0.793590965838
Delta(training - validation): 		0.191818686238
=========Test on depth = 20=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.801519123822
Delta(training - validation): 		0.185012862709
=========Test on depth = 21=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.804839689025
Delta(training - validation): 		0.181692297507
=========Test on depth = 22=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.807112132562
Delta(training - validation): 		0.17941985397
=========Test on depth = 23=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.794764782658
Delta(training - validation): 		0.191767203874
=========Test on depth = 24=========
Training accuracy:			0.986531986532
10-fold cross-validation accuracy:	0.803741346045
Delta(training - validation): 		0.182790640487

In [16]:
for n in np.arange(50,700,50): 
    print '=========Test on n_estimators = %s=========' % n
    test_model(GradientBoostingClassifier(n_estimators=n), dtrain)

=========Test on n_estimators = 50=========
Training accuracy:			0.868686868687
10-fold cross-validation accuracy:	0.820457099081
Delta(training - validation): 		0.0482297696062
=========Test on n_estimators = 100=========
Training accuracy:			0.887766554433
10-fold cross-validation accuracy:	0.829458914993
Delta(training - validation): 		0.0583076394406
=========Test on n_estimators = 150=========
Training accuracy:			0.909090909091
10-fold cross-validation accuracy:	0.828348087618
Delta(training - validation): 		0.0807428214732
=========Test on n_estimators = 200=========
Training accuracy:			0.915824915825
10-fold cross-validation accuracy:	0.830570026104
Delta(training - validation): 		0.0852548897212
=========Test on n_estimators = 250=========
Training accuracy:			0.933782267116
10-fold cross-validation accuracy:	0.821580978323
Delta(training - validation): 		0.112201288793
=========Test on n_estimators = 300=========
Training accuracy:			0.947250280584
10-fold cross-validation accuracy:	0.82273011009
Delta(training - validation): 		0.124520170494
=========Test on n_estimators = 350=========
Training accuracy:			0.952861952862
10-fold cross-validation accuracy:	0.830557825445
Delta(training - validation): 		0.122304127416
=========Test on n_estimators = 400=========
Training accuracy:			0.956228956229
10-fold cross-validation accuracy:	0.82273011009
Delta(training - validation): 		0.133498846139
=========Test on n_estimators = 450=========
Training accuracy:			0.962962962963
10-fold cross-validation accuracy:	0.820507887867
Delta(training - validation): 		0.142455075096
=========Test on n_estimators = 500=========
Training accuracy:			0.964085297419
10-fold cross-validation accuracy:	0.817124616956
Delta(training - validation): 		0.146960680463
=========Test on n_estimators = 550=========
Training accuracy:			0.964085297419
10-fold cross-validation accuracy:	0.817124616956
Delta(training - validation): 		0.146960680463
=========Test on n_estimators = 600=========
Training accuracy:			0.96632996633
10-fold cross-validation accuracy:	0.814902394734
Delta(training - validation): 		0.151427571596
=========Test on n_estimators = 650=========
Training accuracy:			0.971941638608
10-fold cross-validation accuracy:	0.812629951197
Delta(training - validation): 		0.159311687411

In [17]:
for depth in np.arange(5,16,1): 
    print '=========Test on depth = %s=========' % depth
    test_model(RandomForestClassifier(n_estimators=300, max_depth=depth), dtrain)

=========Test on depth = 5=========
Training accuracy:			0.850729517396
10-fold cross-validation accuracy:	0.812642435592
Delta(training - validation): 		0.0380870818043
=========Test on depth = 6=========
Training accuracy:			0.86531986532
10-fold cross-validation accuracy:	0.819384292362
Delta(training - validation): 		0.045935572958
=========Test on depth = 7=========
Training accuracy:			0.883277216611
10-fold cross-validation accuracy:	0.822742594484
Delta(training - validation): 		0.0605346221264
=========Test on depth = 8=========
Training accuracy:			0.903479236813
10-fold cross-validation accuracy:	0.822754795142
Delta(training - validation): 		0.0807244416701
=========Test on depth = 9=========
Training accuracy:			0.92480359147
10-fold cross-validation accuracy:	0.822754511406
Delta(training - validation): 		0.102049080064
=========Test on depth = 10=========
Training accuracy:			0.942760942761
10-fold cross-validation accuracy:	0.818310350698
Delta(training - validation): 		0.124450592063
=========Test on depth = 11=========
Training accuracy:			0.950617283951
10-fold cross-validation accuracy:	0.821656168426
Delta(training - validation): 		0.128961115525
=========Test on depth = 12=========
Training accuracy:			0.961840628507
10-fold cross-validation accuracy:	0.814939847917
Delta(training - validation): 		0.14690078059
=========Test on depth = 13=========
Training accuracy:			0.968574635241
10-fold cross-validation accuracy:	0.807099648167
Delta(training - validation): 		0.161474987074
=========Test on depth = 14=========
Training accuracy:			0.973063973064
10-fold cross-validation accuracy:	0.804827204631
Delta(training - validation): 		0.168236768433
=========Test on depth = 15=========
Training accuracy:			0.976430976431
10-fold cross-validation accuracy:	0.805988537056
Delta(training - validation): 		0.170442439375