In [1]:
import pandas as pd

In [2]:
DATA_PATH = './data/'

In [8]:
user = pd.read_csv(DATA_PATH+'mars_tianchi_user_actions.csv')
song = pd.read_csv(DATA_PATH+'mars_tianchi_songs.csv')

In [5]:
user.head()

,user_id,song_id,gmt_create,action_type,Ds
0,7063b3d0c075a4d276c5f06f4327cf4a,effb071415be51f11e845884e67c0f8c,1426406400,1,20150315
1,0db66c0dd3993fd3504bb98c3beb15b3,f87ff481d85d2f95335ab602f38a7655,1426417200,1,20150315
2,f8c065dc140ec74c6e44144164e618e3,8a27d9a6c59628c991c154e8d93f412e,1426406400,2,20150315
3,2c6082cf0d68e244f2a10325e8d1b85b,ecea5fe33e6817d09c395f2910479728,1426417200,1,20150315
4,2c6082cf0d68e244f2a10325e8d1b85b,31a3d0420d89c9b121bb55dbdbbeda6b,1426417200,1,20150315

In [6]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5652232 entries, 0 to 5652231
Data columns (total 5 columns):
user_id        object
song_id        object
gmt_create     int64
action_type    int64
Ds             int64
dtypes: int64(3), object(2)
memory usage: 215.6+ MB

In [7]:
len(user.user_id.unique())

349946

In [9]:
len(user.song_id.unique())

10278

In [10]:
song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10842 entries, 0 to 10841
Data columns (total 12 columns):
song_id            10842 non-null object
artist_id          10842 non-null object
publish_time       10842 non-null int64
song_init_plays    10842 non-null int64
Language           10842 non-null int64
Gender             10842 non-null int64
Unnamed: 6         0 non-null float64
Unnamed: 7         0 non-null float64
Unnamed: 8         0 non-null float64
Unnamed: 9         0 non-null float64
Unnamed: 10        0 non-null float64
Unnamed: 11        0 non-null float64
dtypes: float64(6), int64(4), object(2)
memory usage: 1016.5+ KB

In [13]:
len(song.Language.unique())

9

In [14]:
song.Language.unique()

array([  2,   4, 100,  11,   1,   0,  14,   3,  12], dtype=int64)

In [15]:
len(song.song_id.unique())

10842

In [16]:
len(song.artist_id.unique())

50

In [17]:
song.head()

,song_id,artist_id,publish_time,song_init_plays,Language,Gender,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,af0e153c72bf63e21bb42702ef0d7726,0c80008b0a28d356026f4b1097041689,20120512,11360,2,1,NaN,NaN,NaN,NaN,NaN,NaN
1,0919b5ed4ce2649f61bcc6c21fadab12,0c80008b0a28d356026f4b1097041689,20121224,2018,2,1,NaN,NaN,NaN,NaN,NaN,NaN
2,8a0777df37bf6a0f3384d63a47d4d21b,0c80008b0a28d356026f4b1097041689,20111206,4825,2,1,NaN,NaN,NaN,NaN,NaN,NaN
3,b61bc45712ee40c3f4a37dd4d063ad52,0c80008b0a28d356026f4b1097041689,20130522,5502,2,1,NaN,NaN,NaN,NaN,NaN,NaN
4,a2fbe29da3a760d7467b8a7b3247a9c8,0c80008b0a28d356026f4b1097041689,20130522,2990,2,1,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
song.Gender.unique()

array([1, 2, 3], dtype=int64)

In [19]:
song.isnull().sum()

song_id                0
artist_id              0
publish_time           0
song_init_plays        0
Language               0
Gender                 0
Unnamed: 6         10842
Unnamed: 7         10842
Unnamed: 8         10842
Unnamed: 9         10842
Unnamed: 10        10842
Unnamed: 11        10842
dtype: int64

In [20]:
user.isnull().sum()

user_id        0
song_id        0
gmt_create     0
action_type    0
Ds             0
dtype: int64

In [21]:
import time
 
def timestamp_datetime(value):
    format = '%Y-%m-%d %H:%M:%S'
    # value为传入的值为时间戳(整形)，如：1332888820
    value = time.localtime(value)
    ## 经过localtime转换后变成
    ## time.struct_time(tm_year=2012, tm_mon=3, tm_mday=28, tm_hour=6, tm_min=53, tm_sec=40, tm_wday=2, tm_yday=88, tm_isdst=0)
    # 最后再经过strftime函数转换为正常日期格式。
    dt = time.strftime(format, value)
    return dt

In [25]:
timestamp_datetime(1426406400)

'2015-03-15 09:00:00'

In [28]:
from dateutil.parser import parse as dateutil_parser

In [30]:
dateutil_parser('2015-03-15 09:00:00')

datetime.datetime(2015, 3, 15, 9, 0)

In [34]:
song.groupby('Gender').song_init_plays.sum()

Gender
1     71522408
2    109305479
3     80251376
Name: song_init_plays, dtype: int64

In [42]:
song.groupby('artist_id').song_init_plays.sum().sort_values()

artist_id
2b7fedeea967becd9408b896de8ff903       50952
bf21d16799b240d6e445fa30472bd50b      277123
c5eac1d455675dfbc99f6c70f7b3971f      654328
ffd47cf9cb66d226575336f0fa42ae25      816349
b6a175a48743caed6d035444c069ab64      837148
1339f978614ff19cd48f07e5420556d4      937359
25739ad1c56a511fcac86018ac4e49bb      941978
4ee3f9c90101073c99d5440b41f07daa      965521
61dfd882204789d7d0f70fee2b901cef     1002187
445a257964b9689f115a69e8cc5dcb75     1084279
8f29cbc2a555034643d66f9e83dd7a7a     1090761
e6e2fff03cc32ee9777de2c2ed5bac30     1162329
f5a5373f30de984e9142a206f94a2f46     1338848
34bc4bc49a725f2686a5cf9c89985798     1443291
e087f8842fe66efa5ccee42ff791e0ca     1512881
03c6699ea836decbc5c8fc2dbae7bd3b     1513899
28e32be6ba67e0c6fdfdff80ce07dfd4     1577952
82fda1f850a9fe22e41b5c8dadaff4ac     1682749
0c80008b0a28d356026f4b1097041689     1914314
33fd0a2cfcfd24e114707bba71ca1de9     2075641
53dd7de874e0999634c28cdd94d21257     2322276
f6e0f05fde7637afb8f8bc6bda74ca24     2322902
9f69ffd8852196e02cfa19b5cd9bc432     2956761
c026b84e8f23a7741d9b670e3d8973f0     3182348
1731019fbaa825714d5f8e61ad1bb7ff     3276077
9e58afbf3fea116b0050bf56bfb4442e     3513127
97de6333157f35467dff271d7afb0a23     3789217
6a493121e53d83f9e119b02942d7c8fe     3857279
2ec1450a1389d4e3fc2a9a76c9378bb3     4302751
025943df23acf5d3863b35fa6e0d79ec     4377444
b7522cc91cf57ada15de2298bfd6a3ee     4656663
3964ee41d4e2ade1957a9135afe1b8dc     4710602
ca6db6d4f02b7b946c57fc389e67dd7e     4927662
6bb4c3bbdb6f5a96d643320c6b6005f5     5229245
be0c7a23c2aa9afb45163995b9ec938c     5983870
ac43c6ce2f9df4adfbb05edd97cecbcc     6004771
5e2ef5473cbbdb335f6d51dc57845437     6162234
4f3f68292e50f39cd8142733512c07d6     6350632
40bbb0da5570702dd6ff3af5e9e3aea6     7080195
d773376e46311393cd89994bf9a93043     7506064
7e0db58c13d033dafe5f5e1e70ff7eb4     7779942
3e395c6b799d3d8cb7cd501b4503b536     9400175
099cd99056bf92e5f0e384465890a804    10478699
023406156015ef87f99521f3b343f71f    11438670
6f462b173b2d6d20a2c9fb1ec0fd2dda    11676943
8da51d03b8b8717431e8b902856fb45e    11973265
8fb3cef29f2c266af4c9ecef3b780e97    17401502
4b8eb68442432c242e9242be040bacf9    19263656
2e14d32266ee6b4678595f8f50c369ac    20708487
c5f0170f87a2fbb17bf65dc858c745e2    25565915
Name: song_init_plays, dtype: int64

In [44]:
song.groupby('song_id').artist_id.count().unique()

array([1], dtype=int64)

In [47]:
tmp = song.groupby('song_id').song_init_plays.sum().sort_values()
(tmp==0).sum()

266

In [48]:
10842 - 10278

564