# [天池新人实战赛之[离线赛]](https://tianchi.aliyun.com/getStart/introduction.htm?spm=5176.100066.333.4.qrO9B0&raceId=231522)

## Data file was not in the repository
Download the data from the competition page, and save it into **my_data_path**

In [1]:
MY_DATA_PATH = 'C:/data/Tianchi-Starter/'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import time
%matplotlib inline

In [3]:
from sklearn.naive_bayes import GaussianNB
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.svm import SVR, SVC
from sklearn.neighbors import KNeighborsRegressor
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV

In [4]:
raw_violations = pd.read_csv(MY_DATA_PATH + 'tianchi_fresh_comp_train_user.csv', low_memory=False)
raw_violations.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [ ]:
raw_violations.dtypes

In [ ]:
for col in raw_violations.columns:
    print 'Columns: %s \t\t Totally: %s items' % (col, len(raw_violations[col].unique()))
    print raw_violations[col].unique() 
    print 
    print