In [1]:
# Basic
from datetime import datetime, timedelta
import time

# Data Analysis Specific
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.parser import parse as date_parser
from geopy.geocoders import Nominatim

# Marchine Learning Specific
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV

# IPython magic
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
DATA_PATH = './data/'
DETROIT_LAT = (42.252, 42.452)
DETROIT_LNG = (-83.295, -82.895)
SIZE_RATIO = 1000
DETROIT_WIDTH = 200
DETROIT_HEIGHT = 400
print DETROIT_WIDTH, DETROIT_HEIGHT, float(DETROIT_WIDTH)/DETROIT_HEIGHT

200 400 0.5

## The naive (grid) building method can not get good result, partially due to the naive method didn't consider the space relationship. 

## The grid method can be used if using convolutional neural network (just an assumption). For time limit, I didn't explore this idea. I might make this trial later.

## Now, it may be a good idea to use clustering (in fact this is the first idea I got), on the space only, to capture the space relationships.

## There are many clustering algos, I will first try kmeans, for simpleness.

In [3]:
clean_permit = pd.read_csv('clean/permit.csv',index_col=0)
clean_violation = pd.read_csv('clean/violation.csv',index_col=0)
clean_crime = pd.read_csv('clean/crime.csv',index_col=0)
clean_311 = pd.read_csv('clean/311.csv',index_col=0)

In [4]:
clean_crime.date.isnull().sum()

0

In [5]:
clean_permit.date.isnull().sum()

3

In [6]:
clean_permit[~clean_permit['turst']]

      lat  lng        date                 addr  turst
671   NaN  NaN   2015/7/30          8045  BRACE  False
672   NaN  NaN   2015/7/30          8909  FAUST  False
676   NaN  NaN   2015/7/30       7290  CLAYBURN  False
678   NaN  NaN   2015/7/30      6894  EVERGREEN  False
680   NaN  NaN   2015/7/30       8649  ARTESIAN  False
681   NaN  NaN   2015/7/30         8221  ASHTON  False
683   NaN  NaN   2015/7/30         9601  AUBURN  False
684   NaN  NaN   2015/7/30        12099  AUBURN  False
685   NaN  NaN   2015/7/30          7340  BRACE  False
687   NaN  NaN   2015/7/30       7458  CLAYBURN  False
688   NaN  NaN   2015/7/30       14391  DOLPHIN  False
689   NaN  NaN   2015/7/30       14542  DOLPHIN  False
690   NaN  NaN   2015/7/30      6310  EVERGREEN  False
691   NaN  NaN   2015/7/30          7703  FAUST  False
692   NaN  NaN   2015/7/30          8681  FAUST  False
693   NaN  NaN   2015/7/30         7232  MINOCK  False
700   NaN  NaN   2015/7/30          7369  BRACE  False
701   NaN  NaN   2015/7/30          8107  BRACE  False
702   NaN  NaN   2015/7/30      8909  GREENVIEW  False
703   NaN  NaN   2015/7/30         8281  HEYDEN  False
704   NaN  NaN   2015/7/30       15100  DACOSTA  False
708   NaN  NaN   2015/7/30         8516  AUBURN  False
709   NaN  NaN   2015/7/30         8634  AUBURN  False
710   NaN  NaN   2015/7/30          8114  BRACE  False
712   NaN  NaN   2015/7/30       14007  DOLPHIN  False
713   NaN  NaN   2015/7/30         8611  MINOCK  False
720   NaN  NaN   2015/7/30      6333  EVERGREEN  False
726   NaN  NaN   2015/7/30          8900  BRACE  False
729   NaN  NaN   2015/7/30          8099  BRACE  False
731   NaN  NaN   2015/7/29         6430  HANSON  False
...   ...  ...         ...                  ...    ...
1102  NaN  NaN   2007/6/15        8948  MENDOTA  False
1103  NaN  NaN   2007/6/15         8825  MEYERS  False
1104  NaN  NaN   2007/6/15          8945  STEEL  False
1105  NaN  NaN   2007/6/15       13510  MENDOTA  False
1108  NaN  NaN   2007/6/15   15842 W SEVEN MILE  False
1113  NaN  NaN   2007/6/15          9371  STEEL  False
1114  NaN  NaN   2007/6/15          9275  STEEL  False
1119  NaN  NaN   2007/6/15        9146  MENDOTA  False
1123  NaN  NaN   2007/6/15        9116  MENDOTA  False
1135  NaN  NaN   2007/6/15         13510  MANOR  False
1140  NaN  NaN   2007/6/15          11645  OHIO  False
1199  NaN  NaN   2015/6/30          4515  FIELD  False
1225  NaN  NaN   2015/6/23    4127- E MCNICHOLS  False
1229  NaN  NaN   2015/6/23    4127- E MCNICHOLS  False
1232  NaN  NaN   2015/6/23        8234  NORMILE  False
1239  NaN  NaN   2015/6/19    17450  JOS CAMPAU  False
1246  NaN  NaN   2015/6/18           2835  16TH  False
1251  NaN  NaN   2015/6/18       3323  CLEMENTS  False
1254  NaN  NaN   2015/6/17         21630  JASON  False
1259  NaN  NaN   2015/6/17       3182  SUPERIOR  False
1262  NaN  NaN   2015/6/16       16939  WINSTON  False
1264  NaN  NaN   2015/6/16         532  OAKWOOD  False
1265  NaN  NaN   2015/6/16        6060 W VERNOR  False
1267  NaN  NaN   2015/6/15        16611  MEYERS  False
1268  NaN  NaN  2006/12/15  16831 W GRAND RIVER  False
1269  NaN  NaN  2006/12/15      10407  WHITTIER  False
1270  NaN  NaN  2006/12/15     9403  MT ELLIOTT  False
1271  NaN  NaN  2006/12/15     6101 E MCNICHOLS  False
1272  NaN  NaN  2006/12/15       4383  SPRINGLE  False
1273  NaN  NaN  2006/12/15       4152  SPRINGLE  False

[192 rows x 5 columns]

In [7]:
clean_violation.date.isnull().sum()

38854

In [8]:
clean_311.date.isnull().sum()

0

In [9]:
len(clean_violation.date.dropna().sort_values())

268950

In [10]:
def dropna(df):
    df = df.dropna()
    if hasattr(df,"turst"):
        df = df[df.turst]
    return df

In [11]:
addr = dropna(clean_violation)[['lat','lng']]

In [12]:
from sklearn.preprocessing import MinMaxScaler
class Scaler(MinMaxScaler):
    def transform(self,X):
        return pd.DataFrame(super(Scaler,self).transform(X),index=X.index,columns=X.columns)
scaler = Scaler().fit(addr)

In [13]:
addr = scaler.transform(addr)

# Give up using sklearn... too slow. Use Graphlab Create instead.

In [ ]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=20000,max_iter=300)
cluster.fit(addr)

In [ ]:
plt.scatter(*zip(*cluster.cluster_centers_))

In [ ]:
export = pd.DataFrame(cluster.cluster_centers_,oolumns=addr.columns)

In [ ]:
export.to_csv("center.csv")