In [1]:
# Basic
from datetime import datetime, timedelta
import time

# Data Analysis Specific
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.parser import parse as date_parser
from geopy.geocoders import Nominatim

# Marchine Learning Specific
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV

# IPython magic
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
DATA_PATH = './data/'
DETROIT_LAT = (42.252, 42.452)
DETROIT_LNG = (-83.295, -82.895)
SIZE_RATIO = 1000
DETROIT_WIDTH = 200
DETROIT_HEIGHT = 400
print DETROIT_WIDTH, DETROIT_HEIGHT, float(DETROIT_WIDTH)/DETROIT_HEIGHT

200 400 0.5

In [3]:
clean_permit = pd.read_csv('clean/permit.csv',index_col=0)
clean_violation = pd.read_csv('clean/violation.csv',index_col=0)
clean_crime = pd.read_csv('clean/crime.csv',index_col=0)
clean_311 = pd.read_csv('clean/311.csv',index_col=0)

In [4]:
clean_crime.head()

       lat      lng  Category        date
0  42.3678 -83.1221         0  2015-06-03
1  42.3724 -83.2035         1  2015-03-01
2  42.4338 -83.0241         2  2015-02-08
3  42.3496 -83.1381         3  2015-11-09
4  42.3481 -83.0692         1  2015-08-14

In [6]:
clean_permit.head()

         lat        lng       date                addr turst
0  42.394106 -82.947400  2015/8/28        4331  BARHAM  True
1  42.395122 -83.005077  2015/8/28     9707  BESSEMORE  True
2  42.403220 -82.946476  2015/8/28     5315  BERKSHIRE  True
3  42.446640 -82.947207  2015/8/28  16670  BRINGARD DR  True
4  42.276956 -83.147536  2015/8/28      1454  BEATRICE  True

In [7]:
clean_violation.head()

         lat        lng turst             addr date  JudgeAmt
0  42.363182 -83.091677  True  2566 GRAND BLVD  NaN    1680.0
1  42.429391 -83.220394  True     19014 ASHTON  NaN     140.0
2  42.428707 -83.227548  True   18735 STAHELIN  NaN     140.0
3  42.441698 -83.145018  True     20125 MONICA  NaN     140.0
4  42.420318 -83.145328  True    17397 PRAIRIE  NaN     140.0